name: ci

on:
  push:

jobs:
  windows:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        arch: [x64, arm64]

    steps:
      - uses: actions/checkout@v6

      - name: Configure CMake
        run: cmake -Bbuild -A ${{ matrix.arch }}

      - name: Build
        run: cmake --build build

      - name: Test
        run: ctest --test-dir build -V

  macos:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, arm64]

    steps:
      - uses: actions/checkout@v6

      - name: Configure CMake
        run: cmake -Bbuild -DCMAKE_OSX_ARCHITECTURES=${{ matrix.arch }}

      - name: Build
        run: cmake --build build

      - name: Test
        run: ctest --test-dir build -V
